# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.env
.venv
env/
venv/

# Poetry lock file
poetry.lock

# IDE / Editor folders
.idea/
.vscode/

TODOS